* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  outline: none;
  text-decoration: none;
}

*:visited,
*:active,
*:link {
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem;
  background-color: #f3f5f8;
}

.wrapper__title {
  text-align: center;
  text-transform: capitalize;
}

.wrapper__form {
  padding: 1rem;
  margin: 2rem auto;
  border: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  width: 400px;
  border-radius: 10px;
  background-color: white;
  height: 200px;
}

.wrapper__warning {
  color: red;
}

.wrapper__input {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

.wrapper__input label {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.wrapper__input input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid gray;
}

.wrapper__input button {
  width: 100px;
  height: 40px;
  line-height: 40px;
}

.wrapper__button {
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  border-radius: 23px;
  background-color: blue;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0px 6px 12px rgba(0, 0, 255, 0.3);
  transition: 0.2s;
}

.wrapper__button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 255, 0.6);
}

.wrapper .element {
  background-color: white;
  display: flex;
  height: 50px;
  width: 450px;
  border-radius: 10px;
  align-items: center;
  margin: 1rem;
  line-height: 50px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.wrapper .element:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.wrapper .element > i {
  margin-left: 0.5rem;
  flex: 0 0 5%;
}

.wrapper .element span {
  flex: 0 0 60%;
}

.wrapper .element__divider {
  flex: 0 0 1px;
  background-color: lightgray;
  height: 100%;
}

.wrapper .element__icons {
  flex: 0 0 calc(30% - 1px);
  display: flex;
  justify-content: space-around;
}

.wrapper .element__icons a {
  background-color: blue;
  width: 30px;
  color: white;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  border-radius: 6px;
  transition: 0.2s;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(0, 0, 255, 0.3);
}

.wrapper .element__icons a:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 255, 0.6);
}

.wrapper .nested {
  margin-left: 2rem;
}

